* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  height: "100vh";
  background-color: #ffffff;
}
p {
  font-size: "15px";
}
#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid#F2AA4CFF;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
